<div ng-controller="dvdCtrl">
	<div class="row">
		<div class="col-md-3">
		<form ng-submit="save()">
			Movie title: <input class="form-control" ng-model="dvd.title"/>
			Rating: <input class="form-control" ng-model="dvd.rating"/>
			Price: <input class="form-control" ng-model="dvd.price"/>
			Genre: <select class="form-control" ng-model="selected" ng-options="genre.name for genre in genres track by genre.id"></select>
			<button class="btn btn-sm btn-success" ng-disabled="!((!!dvd.title)&&(!!dvd.rating)&&!!(dvd.price)&&!!(!!selected))">save</button>
		</form>
		</div>

	</div>



	
</div>